
<hr style="border: 1px solid #343a40; margin-bottom: 20px;margin-top:50px;">
<div *ngIf="this.listEmpresas.length > 0">
    <br>
    <div class="container mt-4">
        <div class="row">
            <div><h5>Peso de los sectores y empresas</h5></div>
        </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 50px;">
        <br>
        <ngx-charts-pie-chart 
                [view]="view" 
                [scheme]="colorScheme" 
                [results]="data" 
                [doughnut]="doughnut" 
                [legend]="leyenda"
                [labels]="showLabels">
        </ngx-charts-pie-chart>
    </div>
    <br>

    <table class="table-hover table-dark" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="text-align: left; padding: 8px;">Nombre</th>
                <th style="text-align: justify; padding: 8px;">Industria</th>
                <th style="text-align: right; padding: 8px;">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of listEmpresas; let i = index">
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #343a40;">
                    {{ empresa.nombre }}
                </td>
                <td style="text-align:justify; padding: 8px; border-bottom: 1px solid #343a40;">
                    {{ empresa.industria }}
                </td>
                <td style="text-align: right; padding: 8px; border-bottom: 1px solid #343a40;">
                    {{ porcentajes[i] }} %
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <div class="container mt-4" style="font-weight: 100;">
        <div class="row">
            <div>
                <h6 *ngIf="!diversificada">Dispone de <span style="color:rgb(194, 120, 22);">{{this.listEmpresas.length}}</span> empresas, lo ideal es que sean al menos 15.</h6>
                <h6 *ngIf="diversificada && this.listEmpresas.length < 20"> - Dispone de <span style="color:rgb(194, 120, 22);">{{this.listEmpresas.length}}</span> empresas, su cartera está algo diversificada por empresas.</h6>
                <h6 *ngIf="diversificada && this.listEmpresas.length >= 20"> - Dispone de <span style="color:rgb(194, 120, 22);">{{this.listEmpresas.length}}</span>
                    empresas, su empresa cartera está bien diversificada por número de empresas.</h6>
            </div>  
        </div>
        <div class="row">
            <div>
                <h6 *ngIf="!diversificadaPorcentaje">Dispone de al menos una empresa con peso superior al 5% de su cartera, es
                    recomendable que no exceda ese porcentaje.</h6>
                <h6 *ngIf="diversificadaPorcentaje">Su cartera está diversificada por peso de empresas</h6>
            </div>
        </div>
        <div class="row">
            <div>
                <h6 *ngIf="!diversificadaNsectores">Dispone de <span style="color:rgb(194, 120, 22);">{{ this.numeroSectores }}</span> sectores, ser recomienda al menos 8.</h6>
                <h6 *ngIf="diversificadaPorcentaje">Tiene un nº de sectores adecuado</h6>
            </div>
        </div>
    </div>
    <br>
    <br>  
</div>
