<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la Empresa</title>
</head>
<body>
    <p class="text-danger" *ngIf="!disponible">Información no disponible </p>
    <div class="mt-4" *ngIf="Cargado === 0" style="text-align: center;">
        <i class="fas fa-spinner fa-spin" style="font-size: 24px; color: white;"></i>
        <p style="color: white;">Cargando...</p>
    </div>
    <div class="container mt-4 mb-4 animate__animated animate__fadeIn" *ngIf="Cargado !== 0"> 
        <button class="btn btn-outline-secondary" (click)="regresar()"><i class="fa-solid fa-arrow-left"></i> Volver</button>
        <br>
        <br>
        <h5>Información de la empresa</h5>
        <br>
        <table style="border-collapse: collapse; width: 100%;">
            <tr>
                <td style="padding: 8px 0;">Nombre:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ name }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Símbolo:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ symbol }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Industria:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ industry }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Sector:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ sector }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Bolsa:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ bolsa }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">CEO:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ CEO }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Empleados:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ employees }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Market Cap:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ marketCap }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Teléfono:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ phone }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Web:</td>
                <td style="padding: 8px 0;font-family: consolas;"><a [href]="website" target="_blank">{{ website }}</a></td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Dirección:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ address }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Descripción:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ description }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Tags:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ tags }}</td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">Empresas Similares:</td>
                <td style="color:rgb(194, 120, 22); padding: 8px 0;font-family: consolas;">{{ similarCompanies }}</td>
            </tr>
        </table>
        <h5 style="margin-top:50px;">Últimas noticias </h5>
        <br>
        <p *ngIf="!this.newsDisponibles" class="text-danger">No disponibles, sobrepasó las peticiones de la API</p>
        <div *ngFor="let article of data" class="news-container">
            <div class="caja-noticia">
                <h4><a [href]="article.url" target="_blank">{{ article.title }}</a></h4>
                <p class="overflow-auto text-sm">{{ article.descr }}</p>
                <p style="font-size: small;">By {{ article.author }}</p>
                <p style="font-size: small;"><em>{{ article.date | date:'mediumDate'}}</em></p>
            </div>
            <div class="image-container">
                <img *ngIf="article.image" [src]="article.image" alt="Article Image" class="rounded">
            </div>
        </div>

    </div>
</body>
</html>
