h2,p {
    color: white; 
}

h1 {
    text-align: left;
}

.mx-auto {
   background-color: #343a40;
   padding: 50px;
}

.container {
    margin-left: 20%;
    margin: 20px auto;
    padding: 50px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}