<div *ngIf="autenticado" class="container mt-4 mb-4 animate__animated animate__fadeIn"
    style="display: flex; flex-direction: column; position: relative; margin-top: 100px;">
    <h5 class="mt-4">Dividendos</h5>
    <br>
    <h5 *ngIf="!disponible">No disponibles, límite de peticiones a la API</h5>
    <div *ngIf="disponible" class="table-responsive" style="top: 0; background-color: #343a40; z-index: 1;">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Monto</th>
                    <th>Moneda</th>
                    <th>Fecha de Declaración</th>
                    <th>Fecha Ex-Dividendo</th>
                    <th>Fecha de Pago</th>
                    <th>Frecuencia</th>
                    <th>Tipo de Dividendo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dividendo of dividendos">
                    <td>{{ dividendo.ticker }}</td>
                    <td>{{ dividendo.cash_amount }}</td>
                    <td>{{ dividendo.currency }}</td>
                    <td>{{ dividendo.declaration_date | date:'dd/M/yy' }}</td>
                    <td>{{ dividendo.ex_dividend_date | date:'dd/M/yy' }}</td>
                    <td>{{ dividendo.pay_date | date:'dd/M/yy' }}</td>
                    <td>{{ dividendo.frequency }}</td>
                    <td>{{ dividendo.dividend_type }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>