<div *ngIf="autenticado" class="container mt-4 mb-4 animate__animated animate__fadeIn" style="display: flex; flex-direction: column; position: relative;">
  <div class="table-responsive" style="position: sticky; top: 0; background-color: #343a40; z-index: 1;">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th style="font-weight: bold;">Nombre</th>
          <th style="font-weight: bold;">Ticker</th>
          <th style="font-weight: bold;">Precio</th>
          <th style="font-weight: bold;">Número de acciones</th>
          <th style="font-weight: bold;">Capital invertido</th>
          <th style="font-weight: bold;">Valoración</th>
          <th style="font-weight: bold;">Industria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of listEmpresas;">
          <td (click)="getInfoEmpresa(empresa.ticker)" type="text" style="cursor: pointer;text-decoration: underline;">
            {{ empresa.nombre }}</td>
          <td>{{ empresa.ticker | uppercase}}</td>
          <td *ngIf="empresa.haSubido===1" style="color:green;">{{ empresa.precio }}</td>
          <td *ngIf="empresa.haSubido===-1" style="color:red;">{{ empresa.precio }}</td>
          <td *ngIf="empresa.haSubido===0">{{ empresa.precio }}</td>
          <td>{{ empresa.cantidad }}</td>
          <td>{{ empresa.capitalInvertido }}</td>
          <td *ngIf="empresa.haSubido===1" style="color:green;">{{ empresa.valoracion }} <i class="fa-solid fa-arrow-trend-up"></i> <br> <span class="end">{{ empresa.variacion | number:'1.2-2' }} %</span></td>
          <td *ngIf="empresa.haSubido===-1" style="color:red;">{{ empresa.valoracion }} <i class="fa-solid fa-arrow-trend-down"></i> <br> <span class="end">{{ empresa.variacion | number:'1.2-2' }} %</span></td>
          <td *ngIf="empresa.haSubido===0">{{ empresa.valoracion }} <br> <span class="end">{{ empresa.variacion | number:'1.2-2' }} %</span></td>
          <td>{{ empresa.industria }}</td>

          <td>
            <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;cursor: pointer;"
              (click)="mostrarFormulario2(empresa._id)"></i>
            <i class="fa-solid fa-trash" style="cursor:pointer;" (click)="eliminarAccion(empresa._id);"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; margin-right: 20px;">
    <button class="btn btn-primary btn-sm" [routerLink]="['editar-acciones']" (click)="mostrarFormulario()">
      <i class="fa-solid fa-plus"></i> Añadir acción
    </button>
    <div>
        <h5 style="color: white;" *ngIf="this.calcularTotalInvertido();">Total invertido:  {{ this.totalAcciones }} </h5>
    </div>
  </div>

    <br>
    <div class="float-end">
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===1">Total valoración: <span style="color:green;">{{ this.totalValoracion }} <i class="fa-solid fa-arrow-trend-up"></i></span></h5>
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===-1">Total valoración: <span style="color:red;">{{ this.totalValoracion }} <i class="fa-solid fa-arrow-trend-down"></i></span></h5>
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===0">Total valoración: {{ this.totalValoracion }}
      </h5>
    </div>

    <div *ngIf="listEmpresas.length == 0" style="text-align: center; margin-top: 20px; margin-bottom: 50px;">
    <h5 style="color: white;">No hay acciones introducidas</h5>
  </div>
</div>

<!-- Formularios -->
<app-editar-acciones *ngIf="mostrarFormularioEdicion" (cerrarFormulario)="cerrarFormulario()" (empresaAgregada)="recibirValor($event)"></app-editar-acciones>
<app-modificar-accion *ngIf="mostrarFormularioEdicion2" [empresaId]="empresaIdSeleccionada" (cerrarFormulario2)="cerrarFormulario2()"> </app-modificar-accion>

<app-grafica-sectores></app-grafica-sectores>

