<div *ngIf="autenticado" class="container mt-4 mb-4 animate__animated animate__fadeIn" style="display: flex; flex-direction: column; position: relative;margin-top:100px;">
 <h5 class="mt-4">Activos</h5>
 <br>
  <div class="table-responsive" style="top: 0; background-color: #343a40; z-index: 1;">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th style="font-weight: bold;">Nombre</th>
          <th style="font-weight: bold;">Ticker</th>
          <th style="font-weight: bold;">Precio</th>
          <th style="font-weight: bold;">Número de acciones</th>
          <th style="font-weight: bold;">Capital invertido</th>
          <th style="font-weight: bold;">Valoración</th>
          <th style="font-weight: bold;">Industria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of listEmpresas;">
          <td (click)="getInfoEmpresa(empresa.ticker)" type="text" style="cursor: pointer;text-decoration: underline;">
            {{ empresa.nombre }}</td>
          <td>{{ empresa.ticker | uppercase}}</td>
          <td *ngIf="empresa.haSubido===1" style="color:green;">{{ empresa.precio }}</td>
          <td *ngIf="empresa.haSubido===-1" style="color:red;">{{ empresa.precio }}</td>
          <td *ngIf="empresa.haSubido===0">{{ empresa.precio }}</td>
          <td>{{ empresa.cantidad }}</td>
          <td>{{ empresa.capitalInvertido }}</td>
          <td *ngIf="empresa.haSubido===1" style="color:green;">{{ empresa.valoracion | transforNumber }} <i class="fa-solid fa-arrow-trend-up"></i> <br> <span class="end">{{ empresa.variacion | number:'1.2-2' }} %</span></td>
          <td *ngIf="empresa.haSubido===-1" style="color:red;">{{ empresa.valoracion | transforNumber }} <i class="fa-solid fa-arrow-trend-down"></i> <br> <span class="end">{{ empresa.variacion | number:'1.2-2' }} %</span></td>
          <td *ngIf="empresa.haSubido===0">{{ empresa.valoracion | transforNumber }} <br> <span class="end">{{ empresa.variacion }} %</span></td>
          <td>{{ empresa.industria }}</td>

          <td>
            <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;cursor: pointer;"
              (click)="mostrarFormulario2(empresa._id)"></i>
            <i class="fa-solid fa-trash" style="cursor:pointer;" (click)="eliminarAccion(empresa._id);"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; margin-right: 20px;">
    <button class="btn btn-primary btn-sm" (click)="mostrarFormulario()">
      <i class="fa-solid fa-plus"></i> Añadir acción
    </button>
    <div>
        <h5 style="color: white;" *ngIf="this.calcularTotalInvertido();">Total invertido:  {{ this.totalAcciones | transforNumber }} </h5>
    </div>
  </div>

    <br>
    <div class="float-end">
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===1">Total valoración: <span style="color:green;">{{ this.totalValoracion | transforNumber }} <i class="fa-solid fa-arrow-trend-up"></i></span></h5>
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===-1">Total valoración: <span style="color:red;">{{ this.totalValoracion | transforNumber }} <i class="fa-solid fa-arrow-trend-down"></i></span></h5>
      <h5 style="color: white;float:right" *ngIf="this.mayorValor===0">Total valoración: {{ this.totalValoracion | transforNumber }}
      </h5>
    </div>

    <div *ngIf="listEmpresas.length == 0" style="text-align: center; margin-top: 20px; margin-bottom: 50px;">
    <h5 style="color: white;">No hay acciones introducidas</h5>
  </div>


<!-- Formularios -->
<div *ngIf="mostrarFormularioEdicion || mostrarFormularioEdicion2"
  style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); z-index: 10; display: flex; justify-content: center; align-items: center;">
  <app-editar-acciones *ngIf="mostrarFormularioEdicion" (cerrarFormulario)="cerrarFormulario()" (empresaAgregada)="recibirValor($event)"></app-editar-acciones>
  <app-modificar-accion *ngIf="mostrarFormularioEdicion2" [empresaId]="empresaIdSeleccionada" (cerrarFormulario2)="cerrarFormulario2()" (empresaModificada)="recibirValor2($event)"> </app-modificar-accion>
</div>  

<div><app-grafica-sectores></app-grafica-sectores></div>
<div><app-grafica-supersectores></app-grafica-supersectores></div>


</div>


