.sweet-fade-in {
    animation: fadeInAnimation 0.4s ease-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



th {
    border-bottom: 2px solid #343a40;
    border-top: 2px solid #343a40;
}