<form class="animate__animated animate__fadeIn" (ngSubmit)="actualizarAccion()"
    style="position: absolute; top: 50%; left: 45%; transform: translate(-50%, -50%); z-index: 2; width: 60%;">
    <br>
    <div
        style="max-width: 500px; margin-left: 40%; border: solid 1px lightblue; padding: 20px; background-color: #343a40;">
        <button class="btn btn-light btn-sm" style="margin-left: 92.5%; cursor: pointer;" (click)="cerrar()">X</button>

        <div class="mb-3">
            <label class="form-label" style="color: lightgray;">Nombre de la acción</label>
            <input type="text" 
                   class="form-control" 
                   [ngModel]="empresaGuardada?.nombre" 
                   name="nombre" 
                   style="background-color: #6c757d; border: 1px solid #ced4da;" 
                   disabled>
        </div>

        <div class="mb-3">
            <label class="form-label" style="color: lightgray;">Ticker</label>
            <input type="text" 
                   class="form-control" 
                   [ngModel]="empresaGuardada?.ticker" 
                   name="ticker" 
                   style="background-color: #6c757d; border: 1px solid #ced4da;" 
                   disabled>
        </div>

        <div class="mb-3">
            <label class="form-label" style="color: white;">Precio <i class="fa fa-edit"></i></label>
            <input type="text" 
                   class="form-control" 
                   [(ngModel)]="modificarAccion.precio" 
                   name="precio" 
                   style="border: 1px solid #80bdff;" 
                   required>
            <small class="text-danger" *ngIf="!modificarAccion.precio">Debe introducir el precio</small>
        </div>

        <div class="mb-3">
            <label class="form-label" style="color: white;">Número de acciones <i class="fa fa-edit"></i></label>
            <input type="number" 
                   class="form-control" 
                   [(ngModel)]="modificarAccion.numero" 
                   name="numero" 
                   style="border: 1px solid #80bdff;" 
                   required>
            <small class="text-danger" *ngIf="!modificarAccion.numero">Debe introducir al menos 1 acción</small>
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </div>
</form>
