

body {
    background-color: #212529;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

div {
    color: white !important;
}


text {
    fill: #ffffff;
    
}


.legend-labels {
    width: 300px !important;
    background-color: #32383e !important;
}

.chart-legend {
    margin-top: 40px;
}

.datepicker text{
  color: grey; 
}


footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    position:absolute;
}



form {
    min-width:fit-content;
}


label {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


table {
    overflow: hidden;
}


.form-login-registro {
    width: 20%;
}



@media only screen and (max-width: 991px) {

    .salir {
        display: none !important;
    }

    .active::after {
        display: none;
    }

   /* .chart-legend {
        display: none !important;
    }*/

    .form-login-registro{
        width:50% !important; 
    }
}

