/* You can add global styles to this file, and also import other style files */

body {
    background-color: #212529;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

div {
    color: white !important;
}


text {
    fill: #ffffff;
    
}


.legend-labels {
    width: 300px !important;
    background-color: #32383e !important;
}

.chart-legend {
    margin-top: 40px;
}

.datepicker text{
  color: grey; 
}


footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    position:absolute;
}