/* You can add global styles to this file, and also import other style files */

body {
    background-color: #212529;
    height: 100%
}

div {
    color: white !important;
}


text {
    fill: #ffffff;
    
}


.legend-labels {
    width: 300px !important;
}

.chart-legend {
    margin-top: 40px;
}

.datepicker text{
  color: grey; 
}


footer {
    position: relative;
    /* Cambiar a relative */
    bottom: 0 !important;
    /* Opcional, ya que el footer estará al final del contenido */
    width: 100%;
    /* Color de fondo (ajusta según sea necesario) */
    color: white;
    /* Color del texto (ajusta según sea necesario) */
    text-align: center;
 
}